<section
  class="stats pt-100 pb-100"
  style="background-image: url('assets/stats-bg.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <!--Stats Item-->
        <div class="single-stat">
          <span class="stat-icon">
            <i class="fa fa-users" aria-hidden="true"></i>
          </span>
          <h2 class="counter" data-count="220">220</h2>
          <p>Happy Clients</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <!--Stats Item-->
        <div class="single-stat">
          <span class="stat-icon">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          </span>
          <h2 class="counter" data-count="700">700</h2>
          <p>Projects Completed</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <!--Stats Item-->
        <div class="single-stat">
          <span class="stat-icon">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </span>
          <h2 class="counter" data-count="1100">1100</h2>
          <p>Lines Of Code</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <!--Stats Item-->
        <div class="single-stat">
          <span class="stat-icon">
            <i class="fa fa-trophy" aria-hidden="true"></i>
          </span>
          <h2 class="counter" data-count="160">160</h2>
          <p>Awards Achieved</p>
        </div>
      </div>
    </div>
  </div>
</section>
