.pb-50 {
  padding-bottom: 50px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
footer {
  background: #222;
}
footer .contact-info h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
footer .contact-info p {
  color: #fff;
  font-size: 14px;
}
footer hr {
  border-color: #333;
}
footer .copy {
  font-size: 14px;
  color: #aaa;
}
.pt-30 {
  padding-top: 30px !important;
}
p {
  font-size: 16px;
  line-height: 1.65;
  font-family: "Open Sans", sans-serif;
}
