<footer class="pt-50 pb-50">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 col-sm-6">
        <!--Contant Item-->
        <div class="contact-info">
          <h5>Kalvin</h5>
          <p>lorem Ipsum donor sit.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Contant Item-->
        <div class="contact-info">
          <h5>Phone No.</h5>
          <p>(+02) 01113639837</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Contant Item-->
        <div class="contact-info">
          <h5>Email</h5>
          <p>esmailhalal@gmail.com</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Contant Item-->
        <div class="contact-info">
          <h5>Address</h5>
          <p>85 B El Khalig El Masry st, Hadayk El Oba, Cairo , Egypt</p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <hr />
        <p class="copy pt-30">
          esmail © 2018. .
        </p>
      </div>
    </div>
  </div>
</footer>
