<section class="about " data-scroll-index="1">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <!--About Image-->
        <div class="about-img">
          <img src="assets/about-img.jpg" alt="" />
        </div>
      </div>
      <div class="col-lg-7 col-md-6">
        <!--About Content-->
        <div class="about-content">
          <div class="about-heading">
            <h2>About Me.</h2>
            <span>UI Developer &amp; Web Developer</span>
          </div>
          <p>
            I'm <b>esmail helal</b> I live in Cairo, Egypt. I Work now as a
            frontend web designer. I am Taking Training in Web Design now I took
            a Nano degree in Android Developing from udacity. I have worked in
            Spectra Apps in android developing. Take your time, check my resume,
            see my skills, some of my work, my experience, and when you are
            ready drop me a message
          </p>
         
          <!--About Social Icons-->
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-dribbble"></i></a>
            <a href="#"><i class="fab fa-google-plus"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
          </div>
          <span class="about-button">
            <a class="main-btn" href="#">Download CV</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
