<section class="services bg-gray pt-100 pb-50" data-scroll-index="2">
  <div class="container">
    <div class="row ">
      <div class="col mb-5">
        <div class="heading text-center">
          <h6>Services</h6>
          <h2>What I Can Do</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <!--Service Item-->
        <div class="service-item">
          <span class="icon">
            <i class="fa fa-laptop"></i>
          </span>
          <h4>Web Development</h4>
        </div>
      </div>
      <div class="col-md-4">
        <!--Service Item-->
        <div class="service-item">
          <span class="icon">
            <i class="fa fa-mobile"></i>
          </span>
          <h4>Responsive Design</h4>
        </div>
      </div>
      <div class="col-md-4">
        <!--Service Item-->
        <div class="service-item">
          <span class="icon">
            <i class="fa fa-rocket"></i>
          </span>
          <h4>Branding Identity</h4>
        </div>
      </div>
    </div>
  </div>
</section>
