<section id="home" class="banner" data-scroll-index="0" style="height: 286px;">
  <div class="banner-slider">
    <div id="slides">
      <div class="slides-container">
        <!--Slide 1-->
        <div><img src="assets/img-1.jpg" alt="" /></div>
        <!--Slide 2-->
        <div><img src="assets/img-2.jpg" alt="" /></div>
      </div>
    </div>
  </div>
  <div class="container">
    <!--Banner Content-->
    <div class="banner-caption">
      <h1>Hi! I'm esmail.</h1>
      <p class="cd-headline clip mt-30">
        <span> Developer located in cairo.</span><br />
        <span class="blc">Specialized in</span>
        <span id="typing"> </span>
      </p>
    </div>
    <div class="arrow bounce">
      <a class="fa fa-chevron-down fa-2x" href="#" data-scroll-nav="1"></a>
    </div>
  </div>
</section>
